<h4>About</h4>


<bars-chart chart-data="dataset"></bars-chart>
<button class="btn btn-primary" ng-click="inc()">Click</button>

<hr>
<donut-chart chart-data="dataset2"></donut-chart>

<style>
.chart {
    background: #eee;
    padding: 3px;
}
.chart div {
    width: 0;
    transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}
</style>
