<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container task-container">
        <h3 class='pull-right'>
            <small ng-click='popTasks()'>{{tasks.length}} Tasks</small>
        </h3>
        <div class="task-well" ng-show="showTasks">List of tasks
            <hr>
            <div ng-repeat="task in tasks" class='well well-sm'>
                <p>{{task.Descr}}</p>
                <a href="#" ng-click="navigate($event, task.ActivityID)">Prospect {{task.ProspectID}}</a>
                <p>{{task.DueDate}}</p>
            </div>
        </div>
</nav>

<style>
.task-container > h3 {
    display: inline;
    cursor: pointer;
}
.task-well {
    position: absolute;
    right: 0;
    bottom: 58;
    background-color: white;
    border: #d0d0d0 solid 1px;
    padding: .5%;
    max-height: 600px;
}
</style>
