<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container task-container">
        <h3 class='pull-right'>
            <small ng-click='popTasks()'>{{tasks.length}} Tasks</small>
        </h3>
        <div class="task-well" ng-show="showTasks">List of tasks
            <hr>
            <div ng-repeat="task in tasks" class='well well-sm' ng-show="tasks.length">
                <p>{{task.Descr}}</p>
                <p ng-click="navigate(task.ProspectID)" class='link'>Prospect {{task.ProspectID}}</p>
                <p>{{task.DueDate}}</p>
                <!-- <p>{{task}} -->
            </div>
            <div class='well well-sm' ng-hide="tasks.length">
                No current tasks
            </div>
        </div>
</nav>

<style>
.task-container > h3 {
    display: inline;
    cursor: pointer;
}
.task-well {
    position: absolute;
    right: 0;
    bottom: 58;
    background-color: white;
    border: #d0d0d0 solid 1px;
    padding: .5%;
    max-height: 600px;
}
.link {
    color: blue;
    cursor: pointer;
}
</style>
