Submit a new query?

<hr>


<form class="form-inline" role="form">

  <div class="form-group">
    <label class="col-sm-4 control-label">State</label>
    <div class="col-sm-4">
      <select class="form-control">
      <option>Kansas</option>
      <option>Missouri</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-4 control-label">Product</label>
    <div class="col-sm-4">
      <select class="form-control">
      <option>Profit Guard</option>
      <option>Tri-Net</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label">Distance</label>
    <div class="col-sm-4">
      <select class="form-control">
      <option>10 miles</option>
      <option>20</option>
      <option>30</option>
      <option>40</option>
      <option>50</option>
      </select>
    </div>
  </div>

</form>


<br><br>
<button type="button" class="btn btn-default" ng-click="querySearch()">Search</button>


<br><br>

<div ng-show="resultsReturned">

  <h2>Query Results</h2>

  <p>Order by...</p>

<!--   <ul class="example-animate-container">
      <li class="animate-repeat"
      ng-repeat="friend in results"
      ng-click="DeleteProspect(friend.name)" ng-class="{isActive: !friend.isActive}">
        [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old. IsActive? {{friend.isActive}}
      </li>
  </ul> -->



  <table at-table at-list="results" at-paginated at-config="tableConfig" class="table table-striped">
  <thead></thead>
  <tbody>
    <tr  ng-class="{isActive: !this.item.isActive}" ng-click="DeleteProspect(this.item.name)">
      <td at-implicit at-attribute="name"></td>
      <td at-implicit at-attribute="age"></td>
      <td at-implicit at-attribute="gender"></td>
      <td at-implicit at-attribute="isActive"></td>
    </tr>
  </tbody>
</table>

<at-pagination at-list="results" at-config="tableConfig"></at-pagination>



<!-- </ul> -->

  <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Query Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Placeholder">
    </div>
  </div>
<!--   <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Product</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Placeholder">
    </div>
  </div> -->
<!--   <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Other Details</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Placeholder">
    </div>
  </div> -->

  <div class="form-group">
    <label class="col-sm-2 control-label">Product</label>
    <div class="col-sm-10">
  <select class="form-control">
  <option>Profit Guard</option>
  <option>Tri-Net</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  </select>
  </div>
  </div>


</form>

<br><br>

<button type="button" class="btn btn-default" ng-click="saveTemplate()">Save Query</button>

</div>
