Submit a new query?


<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <!--       <input type="text" class="form-control"> -->
      <p class="form-control"> Option</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <!--       <input type="text" class="form-control"> -->
      <p class="form-control"> Option</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <!--       <input type="text" class="form-control"> -->
      <p class="form-control"> Option</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <!--       <input type="text" class="form-control"> -->
      <p class="form-control"> Option</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
        <!--       <input type="text" class="form-control"> -->
      <p class="form-control"> Option</p>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<button type="button" class="btn btn-default" ng-click="querySearch()">Search</button>


<br><br>



<div ng-show="resultsReturned">

  <h2>Query Results</h2>


  <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in results">
        [{{$index + 1}}] {{friend.name}} who is {{friend.age}} years old.
      </li>
    </ul>


  <form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Campaign Name</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Placeholder">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Expensive</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Placeholder">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Other Details</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Placeholder">
    </div>
  </div>

</form>

<br><br>

<button type="button" class="btn btn-default" ng-click="querySearch()">Save Template</button>

</div>
