<span class="pullright"><a ui-sref="home.kim($state.params)"><small>Kim View</small></a></span>
<div class="col-md-7">
    <table class="table table-condensed table-striped">
      <thead>
        <!-- <tr>
          <th>Head</th>
        </tr> -->
      </thead>
      <tbody>
        <tr>
            <td>Name</td>
            <!-- editable username (text with validation) -->
            <td>
            <span editable-text="the_Prospect.Name" e-name="name" e-form="rowform"
                onbeforesave="checkName($data, the_Prospect.Name)" ng-click="rowform.$show()">
            {{ the_Prospect.Name || 'empty' }}
            </span>
            </td>
        </tr>
        <tr>
          <td>Wholesaler</td>
          <td>{{the_Prospect.PriWholesalerID}}</td>
        </tr>
        <tr>
          <td>Location</td>
          <td>{{the_Prospect.City}}</td>
        </tr>
        <tr>
          <td>Scripts/mo</td>
          <td>{{the_Prospect.ScriptsPerMonth}}</td>
        </tr>
        <tr>
          <td>NCPDP</td>
          <td>{{the_Prospect.NCPDP}}</td>
        </tr>
      </tbody>
    </table>


<!-- COLLAPSE -->

    <a href ng-click="isCollapsed = !isCollapsed"><small>More info...</small></a>
      <div collapse="isCollapsed">
        <table class="table table-condensed table-striped">
          <thead>
            <!-- <tr>
              <th>Head</th>
            </tr> -->
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>Joe Smith</td>
            </tr>
            <tr>
              <td>Age</td>
              <td>60</td>
            </tr>
            <tr>
              <td>Location</td>
              <td>Minneapoislis</td>
            </tr>
            <tr>
              <td>Products</td>
              <td>Trinet, ProfitGuard</td>
            </tr>
          </tbody>
        </table>
        <a href ng-click="isCollapsed = !isCollapsed"><small>Less </small></a>
      </div>
      <!-- END COLLAPSE -->
</div>
    <!-- END COLUMN -->
<div class="col-md-4 col-md-offset-1" id='contact-parent'>
    <h3>Contacts</h3>
    <!-- <ul class="example-animate-container">
        <li class="animate-repeat" ng-repeat="contact in the_Prospect.Contacts | filter:q">
        [{{$index + 1}}] "PIC" - {{contact.Name}}  - {{contact.City}} -- {{contact.Email}}
        <br>
            <ul>
    <button type="button" class="btn btn-default"
        ng-model="contact.HumanTypes" data-html="1" data-multiple="1" data-animation="am-flip-x"
        ng-options="icon.value as icon.label for icon in icons" bs-select ng-change="update(contact)">
        Action <span class="caret"></span>
    </button>
            </ul>
        </li>
    </ul> -->
    <div id="contacts-field">
        <!-- <div ng-repeat="contact in the_Prospect.Contacts">
            <a href class='pull-right' data-animation="am-fade-and-slide-top"
                data-template="views/edit_contact.html" bs-modal="contact">Edit</a>
            <ul>
                <li>{{contact.Name}}</li>
                <li>{{contact.Addr1}}</li>
                <li>{{contact.Addr2}}</li>
                <li>{{contact.City}}</li>
                <li>{{contact.State}}</li>
                <li>{{contact.Email}}</li>
                <li>{{contact.Phone}}</li>
            </ul>
        </div> -->
        <div id="tabs" >
            <ul class="nav nav-tabs">
                <li ng-repeat="contact in the_Prospect.Contacts"
                    ng-class="{active:isActiveTab(contact)}"
                    ng-click="onClickTab(contact)" >
                        <a href>{{$index + 1}}</a>
                </li>
            </ul>
            <div id="mainView">
                <p>{{currentContact.Name}}</p>
                <p>{{currentContact.Addr1}}</p>
                <p>{{currentContact.Email}}</p>
                <p>Person in Charge</p>
                <a href class='pull-right' data-animation="am-fade-and-slide-top"
                    data-template="views/edit_contact.html" bs-modal="currentContact">Edit</a>
            </div>
        </div>
</div>



    </div>

</div>
<!-- END CONTACTS -->
<div class="col-md-12">
    <hr>
    <span class="pullright"><a href><small>New Note / Issue+</small></a></span>
    <!-- get rid of <br> when a detail is shown -->
    <br ng-hide="showDetails">

    <!-- HIDE WHEN NO TIMELINE EVENT SELECTED -->
    <div ng-show="showDetails">
        <!-- FIELDS FOR LOG BOX -->
        <small>Opened</small> <strong>{{msgInfo.startHuman}}</strong>
            <small>by </small><strong>{{msgInfo.CreationUser}}</strong>
        <!-- <span class="pullright"><a href><small>New Note / Issue+</small></a></span> -->
        <br>
        <small>Closed</small> <strong>{{msgInfo.endHuman}}</strong> <small>by </small><strong>{{msgInfo.ClosedBy}}</strong>
        <small>Product</small><strong></strong>


        <div id="log" class="well wll-sm">
          {{message}}
          <div ng-show="msgInfo.issue">
              <a href>{{msgInfo.replyCount}} Follow-Ups :</a>
              <hr>
              <div ng-repeat="reply in msgInfo.Followups">
                  <p>{{reply.startHuman}} by <strong> {{reply.LastUpdtUser}}</strong> </p>
                  <p>{{reply.Description}}</p>
              </div>
          </div>
        </div>
    </div>


    <div id="visualization">
        <div class="menu">
            <input type="button" id="zoomIn" value="Zoom in" class="btn btn-primary sm"/>
            <input type="button" id="zoomOut" value="Zoom out" class="btn btn-primary sm"/>
        </div>
    </div>

    <div id="filters">
      <!-- <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1" checked> All Activities
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> Only My Activities
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3" checked> Closed Issues
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3" checked> Open Issues
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3" checked> Trinet
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3" checked> ProfitGuard
      </label> -->

      <label ng-repeat="filterName in filters" class="checkbox-inline">
      <input
        type="checkbox"
        name="selectedFilter[]"
        value="{{filterName}}"
        ng-checked="selection.indexOf(filterName) > -1"
        ng-click="toggleSelection(filterName)"
        > {{filterName}}
      </label>


    </div>
</div>


<style type="text/css">
    /*body, html, input {
        font-family: sans-serif;
        font-size: 12pt;
    }*/

    .contact-table{
        border: 1px solid #dfdfdf;
    }

    #contact-parent{
        border-left: 1px solid #dfdfdf;
    }

    #contacts-field ul
    {
        list-style-type: none;
        /*border-bottom: 1px solid #dfdfdf;*/
    }

    #contacts-field{
        /*max-height: 130px;*/
        min-height: 130px;
        /*overflow-y: scroll;*/

    }

    .pullright{
      float: right;
    }

    .vis.timeline .openIssue {
      color: white;
      background-color: red;
      border-color: darkred;
    }

    #log{
      /*max-height: 130px;*/
      min-height: 130px;
      /*overflow-y: scroll;*/
    }

    #filters .checkbox-inline{
      margin: 10px;
    }


    #visualization {
        position: relative;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        z-index: 9999;
    }

</style>
