<h4>Search</h4>
   <form class="form-inline" role="form" ng-submit="startSearch()">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-model="item" data-html="1"
                ng-options="icon as icon for icon in searchOptions" bs-select ng-change="searchSet()">
              Action <span class="caret"></span>
            </button>
          </span>
          <input type="text" class="form-control" ng-model="searchString">
          <span class="input-group-btn">
              <button class='btn btn-primary' value="Submit">Search!</button>
          </span>
        </div><!-- /input-group -->
    </form>

<br>
<hr>
<br>


<div ui-view='searchView' class="container slide" style="padding-top: 80px">
    <h4>Here's search view</h4>
</div>

<div ng-show="searchResults">
    <h4>Results:</h4>
    <table class="table table-striped" at-table at-paginated at-list="searchResults" at-config="config">
        <thead></thead>
        <tbody>
            <tr ng-click="gotoProspect(item.ProspectID)" class='tr-clickable'>
              <td  at-implicit at-sortable at-attribute="Name"></td>
              <td  at-implicit at-sortable at-attribute="NPI"></td>
              <td  at-implicit at-sortable at-attribute="NCPDP"></td>
              <td  at-implicit at-sortable at-attribute="ProspectID"></td>
              <td  at-implicit at-sortable at-attribute="Addr1"></td>
              <td  at-implicit at-sortable at-attribute="City"></td>
              <td  at-implicit at-sortable at-attribute="State"></td>
            </tr>
        </tbody>
    </table>

    <at-pagination at-list="searchResults" at-config="config"></at-pagination>
</div>
<div ng-show="emptyResults">
    <p class="text-danger">No results found. Try refining your input.</p>
</div>


<style type="text/css">
    .tr-clickable{
        cursor: pointer;
    }
</style>
